*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: repeating-linear-gradient(130deg, hsla(0, 0%, 84%, 0.25), hsla(0, 0%, 84%, 0.25) 20px, hsla(0, 0%, 95%, 0.2) 20px, hsla(0, 0%, 95%, 0.2) 60px);
}

.calculator-container{
    background-color: darkgrey;
    width: 300px;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-image: linear-gradient(120deg, #869bfa 0%, #c2d6fb 100%);
}

.box-text{
    border: 1px solid black;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
    padding: 12px 5px;
    overflow-x: auto;
}

.box-text::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 8px;
}

.box-text::-webkit-scrollbar-thumb {
    background-color: #8c90a1;
    border-radius: 5px;
    border: 2px solid #ffffff;
}

.box-text::-webkit-scrollbar-track {

    border-radius: 10px;  
}

.buttons-container{
    display: grid;
    padding: 0 25px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.button{
    height: 40px;
    width: 40px;
    background-color: white;
    border: 1px solid black;
    padding-top: 8px ;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: all .2s ease-in;
}

.button:hover{
    background-color: rgb(218, 233, 255);
    box-shadow: inset 0px 0px 3px white;
}

.button:active{
    background-color: rgb(164, 183, 211);
    box-shadow: inset 1px 1px 2px rgb(236, 236, 236);
}

